<div class="content-wrapper">
  <article>
    <h2>
      OMDbGQI
    </h2>
    <p>
      The Open Movie Database Graphical Query Interface provides the quintessential 
      link between externally stored digitized information, including the described   
      properties of accredited motion pictures according to cinematographic convention, 
      and, the hypothetical user seeking access to, and consumption of, information so
      described, for unspecified purposes potentially multifarious and varied in nature.
    </p>
  </article>
  <article>
    <h2>
      Technology
    </h2>
    <p>
      But really:
      <ul>
        <li>
          a <a href="https://www.ruby-lang.org/en/">Ruby</a> app,
        </li>
        <li>
          hosted using <a href="http://www.sinatrarb.com/">Sinatra</a>,
        </li>
        <li>
          using the <a href="http://www.omdbapi.com/">OMDb API</a>, and
        </li>
        <li>
          <a href="http://postgresapp.com/">Postgres</a> for database management.
        </li>
        <li>
          <a href="https://github.com/PhilipCastiglione">Github!</a>
        </li>
      </ul>
    </p>
  </article>
  <article>
    <h2>
      Why?
    </h2>
    <p>
      Originally created for a <a href="https://generalassemb.ly/">General Assembly</a> 
      project, OMDbGQI exists because I wanted to learn database, API and 
      web hosting techniques and also because it's fun.
    </p>
  </article>
</div>
