<div class="content-wrapper">
  <article>
    <h2>Donate</h2>
    <p>
      Wow, someone actually clicked that?! Well don't worry about it. Though if you do have 
      some money you don't know what to do with, I'd suggest one of these...
    </p>
    <ul>
      <li><a href="https://www.againstmalaria.com/Donation.aspx">Against Malaria Foundation</a></li>
      <li><a href="https://www.givedirectly.org/give-now.php">GiveDirectly</a></li>
      <li><a href="http://www.developmentmedia.net/support-us">Development Media International</a></li>
    </ul>
  </article>
</div>
