<form action="/list" method="get">
  <input type="text" name="search" placeholder="Movie Title">
  <button>
    <img src="/assets/images/search.png" alt="search">
  </button>
</form>
<p>Enter a movie title, or part of a title to search for.</p>
